<header class="header" ng-controller="header">
    <div class="container">
        <div class="header__body">
            <a href="#!/index/" class="header__logo">Wcs-Host</a>
            <div class="header__burger">
                <span></span>
            </div>
            <nav class="header__menu">
                <div class="header__flex__menu">
                <ul class="header__list">
                    <li><a href="#!/index/" class="header__link"><span>Home</span></a></li>
                    <li><a href="#!/projects/" class="header__link"><span>Projects</span></a></li>
                    <li><a href="#!/contacts/" class="header__link"><span>Contacts</span></a></li>
                    <li><a href="#!/about-us/" class="header__link"><span>Abous us</span></a></li>
                </ul>
                </div>
            </nav>
            <div class="header__search">
                <a href="#!/search/" class="header__search__link">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </div>
        </div>
    </div>
</header>
